.QWidget {
    background-color: beige;
}

QPushButton {
    background-color: palegoldenrod;
    border-width: 2px;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 5;
    padding: 3px;
    min-width: 9ex;
    min-height: 2.5ex;
}

QPushButton:hover {
    background-color: khaki;
}

QPushButton:pressed {
    padding-left: 5px;
    padding-top: 5px;
    background-color: #d0d67c;
}

QComboBox, QLineEdit, QSpinBox, QTextEdit, QListView {
    background-color: khaki;
    selection-color: #0a214c;
    selection-background-color: #C19A6B;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}
